.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 2px 2px 2px;

}
.footer{
    padding: 10px 10px 0px 10px;
    background-color: yellow;
    margin-bottom: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}